/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Estilos do Portfólio */
#portfolio {
    padding: 40px 0;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #333;
}

.project-section {
    margin-bottom: 60px;
}

.project-section h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #444;
}

.project {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 15px;
    transition: transform 0.3s ease;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project h4 {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.project p {
    margin-top: 10px;
    color: #555;
    font-size: 1em;
}

.project:hover img {
    transform: scale(1.05);
}

.project:hover {
    transform: translateY(-5px);
}

/* Estilos das Habilidades */
#habilidades {
    padding: 40px 0;
    background-color: #fff;
}

#habilidades h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #444;
}

#habilidades ul {
    list-style-type: none;
    text-align: center;
}

#habilidades li {
    margin: 10px;
    font-size: 1.2em;
    color: #333;
}

/* Estilos do Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .project {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .project {
        width: 100%;
    }

    #habilidades ul {
        padding: 0;
    }

    #habilidades li {
        font-size: 1em;
    }
}
